<div class="container">
  <h1>Show single course</h1>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <p><%= link_to "delete this course ? ...", course_delete_path(id: @course.course_id), class: "text-danger" %></p>
  <br>
  <%= render 'courses/form' %>
</div>
