<h1>Training DB Webapp</h1>
<p>Search</p>
<p><a href="#">all course</a></p>

<form action="#" method="get">
  keyword: 
  <input type="text">
  <input type="submit" value="submit">
</form>
<form action="#" method="get">
  category: 
  <input type="text">
  <input type="submit" value="submit">
</form>