<footer class="footer">
  <div class="container">
    <nav class="navbar fixed-bottom navbar-dark bg-primary">
      <small class="text-white">
        (c) 2019 Shigeo Kitamura
      </small>
    </nav>
  </div>
</footer>
