<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "create course", '#' %></li>
        <li><%= link_to "all course", search_path %></li>
      </ul>
    </nav>
  </div>
</header>
